extends ../../layouts/main/main.jade

block content
  .p_main.js_p-main
  .p_main__popup.js_popup.js_popup__slide-top
    .p_main__popup-close.js_popup__close
      span +
    .p_main__popup-content
      .p_main__popup-content-buttons
        button.p_main__popup-content-buttons-plus.js_popup__add
          span +
        button.p_main__popup-content-buttons-minus.js_popup__remove
          span -
      input(type='text', placeholder='Add comment')
      .p_main__popup-content-status
  .p_main__popup-body.js_popup-body.js_popup-body__fadeout