body
  margin: 0
h1, h2, h3, h4, h5, h6
  margin:0
img
  display: block
  border: none
p
  margin: 0
input, textarea, button
  display: block
  border: none
  margin: 0
  padding: 0
button
  cursor: pointer
label
  display: block
ul
  list-style: none
  margin: 0
  padding: 0
code
  display: block


.wrapper
  font: 14px/28px Helvetica, Sans-Serif
  .k_clear-float:after
    content: ""
    display: block
    clear: both

  .k_clear-flow:before
    content: ""
    display: block
    padding-top: 1px
    margin-top: -1px

  .l_main
    width: 1300px
    height: 2156px
    margin: 0 auto



// JS classes declaratively
//
// js_wrapper
//   js_l-main