.expense
  height: 30px
  &_color-level-1
    background: #F5F5F5
  &_color-level-2
    background: #E5E5E5
  &_color-level-3
    background: #D9D9D9
  &_color-level-4
    background: #CFCFCF
  &_color-level-5
    background: #C2C2C2
  &_color-level-6
    background: #B8B8B8
  &_color-level-7
    background: #ABABAB
  &_color-level-8
    background: #A1A1A1
  &_color-level-9
    background: #919191
  &_color-level-10
    background: #828282
  &_color-level-11
    background: #787878
  &_color-level-12
    background: #696969
  &_color-level-13
    background: #5C5C5C
  &_color-level-14
    background: #4D4D4D
  &_color-level-15
    background: #3D3D3D

