.expense
  flex: 1
  position relative
  height: 70px
  > span
    position: absolute
    bottom: -3px
    left: 5px
  &[data-value]
    background: #000
    > span
      color: #fff
  &[data-value='0']
    background: #fff
    > span
      color: #5a5a5a
  &[data-value='1']
    background: #f5f5f5
    > span
      color: #5a5a5a
  &[data-value='2']
    background: #e5e5e5
    > span
      color: #5a5a5a
  &[data-value='3']
    background: #d9d9d9
    > span
      color: #5a5a5a
  &[data-value='4']
    background: #cfcfcf
    > span
      color: #5a5a5a
  &[data-value='5']
    background: #c2c2c2
    > span
      color: #5a5a5a
  &[data-value='6']
    background: #b8b8b8
    > span
      color: #5a5a5a
  &[data-value='7']
    background: #ababab
    > span
      color: #5a5a5a
  &[data-value='8']
    background: #a1a1a1
    > span
      color: #5a5a5a
  &[data-value='9']
    background: #919191
    > span
      color: #5a5a5a
  &[data-value='10']
    background: #828282
    > span
      color: #fff
  &[data-value='11']
    background: #787878
    > span
      color: #fff
  &[data-value='12']
    background: #696969
    > span
      color: #fff
  &[data-value='13']
    background: #5c5c5c
    > span
      color: #fff
  &[data-value='14']
    background: #4d4d4d
    > span
      color: #fff
  &[data-value='15']
    background: #3d3d3d
    > span
      color: #fff
  &[data-value='16']
    background: #2E2E2E
    > span
      color: #fff
  &[data-value='17']
    background: #1F1F1F
    > span
      color: #fff
  &[data-value='18']
    background: #0F0F0F
    > span
      color: #fff