.js_none
  display: none
.js_block
  display: block
.js_none-imp
  display: none !important
.js_block-imp
  display: block !important


// Declaratively
//
// js_wrapper
//   js_p_main
//     js_year
//     js_month